/* details */
.product-row {
  padding-left: 45px 0;
}
.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img > img {
  max-width: 70%;
}
.product-img-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img-item {
  opacity: 0.5;
  width: 90px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid black;
}
.product-img-item:hover {
  opacity: 1;
}
.product-info > * ~ * {
  margin-top: 15px;
}

.product-info-detail-title {
  font-weight: 600;
  color: grey;
}
.product-description {
  font-size: 18px;
  text-align: justify;
}

.product-info-price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #c0392b;
  border-bottom: 1px solid gainsboro;
}
.color-title > span {
  text-transform: uppercase;
}

.select-color > p {
  width: 22px;
  height: 22px;
  background-color: brown;
  border-radius: 50%;
  border: 2px solid gainsboro;
  margin-right: 20px;

  background-size: cover;
}
.product-row .btn-flat-reverse {
  width: 100%;
}
.product-row .btn-flat {
  width: 100%;
  color: #c5c5c5;
  border-color: gainsboro;
}

.product-quantity-wrapper {
  display: flex;
  align-items: center;
}
.product-quantity {
  margin: 0 10px;
  font-size: 25px;
}
.product-quantity-btn {
  height: 30px;
  width: 30px;
  background-color: grey;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.delivery {
  text-align: center;
  max-width: 50%;
  padding: 5px 10px;
  background-color: gainsboro;
  border-radius: 20px;
}
.nav-link {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid gainsboro;
}

.product-detail-preview {
  text-align: center;
  background-color: #eafaf3;
}
.img-detail img {
  max-width: 50%;
  padding: 0 5px;
}

.product-detail-content {
  margin-bottom: 100px;
  text-align: justify;
  line-height: 26px;
  font-size: 16px;
  height: 600px;
  overflow-y: hidden;
  position: relative;
}
.product-detail-content.active {
  height: max-content;
}

.btn-view-description {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.breadcumb {
  font-weight: 600;
  padding-left: 20px;
}
.breadcumb span {
  margin: 0 15px;
}
.breadcumb a {
  text-transform: capitalize;
}
.rating i {
  color: #ffc107;
}

/* slider */
.swiper-container {
  width: 100%;
  padding: 100px 0;

  background: #f5f5f5;
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background-color: #eafaf3;
  filter: blur(2px);
  border-radius: 10px;
}
.swiper-slide-active {
  filter: blur(0px);
  background-color: #fff;
}
.tBox {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
}
.tBox .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
}
.tBox .details-sli {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.tBox .details-sli .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.tBox .details-sli .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tBox .details-sli h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.1rem;
  color: #2196f3;
}
.tBox .details-sli h3 span {
  font-size: 13px;
  color: black;
}
.quote {
  max-width: 64px;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}
